article {
    max-width: 1400px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; /* fractions */
	grid-gap: 2rem;
	margin: 2rem;

    margin-top: 9rem;
}

@media (max-width: 768px) {
    article {
        grid-template-columns: 1fr;
    }
  }

@media (max-width: 1024px) {
    article {
        grid-template-columns: 1fr 1fr;
    }
  }