:root {
  --bg-color: rgba(240, 240, 240, 1.0);
  --bg-color-header: rgba(240, 240, 240, 0.2);
  --bg-colog-blog-post: rgba(255, 255, 255, 1.0);
  --bg-color-blog-tags: rgba(224, 224, 224, 1.0);
  --bg-color-footer: rgba(150, 150, 150, 0.2);
  --logo-color: rgba(0, 0, 0, 1.0);
  --menu-button-color: rgba(0, 0, 0, 1.0);
  --text-color: rgba(0, 0, 0, 1.0);
  --text-color-blog-post: rgba(0, 0, 0, 1.0);
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 1.0);
  --bg-color-header: rgba(0, 0, 0, 0.2 );
  --bg-color-blog-post: rgba(240, 240, 240, 0.2);
  --bg-color-blog-tags: rgba(35, 35, 35, 1.0);
  --bg-color-footer: rgba(0, 0, 0, 0.2);
  --logo-color: rgba(240, 240, 240, 1.0);
  --menu-button-color: rgba(240, 240, 240, 1.0);
  --text-color: rgba(240, 240, 240, 1.0);
  --text-color-blog-post: rgba(255, 255, 255, 1.0);
}



* {
    cursor: url(/img/cursor.png), default;
}

a {
  color: var(--text-color);
transition: background-color 0.3s, color 0.3s;}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    background-color: var(--bg-color);
    color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-color-header);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* für Safari */
    color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  padding: 1rem;
    height: 4rem;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  }



  .logo {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  }

#logo-image{
  margin-top: 0;
  fill: var(--logo-color);
  transition: fill 0.3s, color 0.3s;
}

/*MENU*/

#menu-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.8rem;
  display: inline-flex;
  position: absolute;
}

#menu-button-image {
  margin: 0;
  fill: var(--menu-button-color);
  transition: fill 0.3s, color 0.3s;
}

.menu-icon {
    width: 2rem;
    height: auto
}

.menu {
  z-index: 5;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in-out, background-color 0.3s, color 0.3s;
  background-color: #444;

  background-color: var(--bg-color-header);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* für Safari */
  color: var(--text-color);

  width: 100vw;
  position: absolute;
  top: 6rem;
  left: 0;

}

.menu ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.menu li {
  margin: 0.5rem 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Wenn aktiv, wird max-height groß genug, um Inhalt zu zeigen */
.menu.open {
  height: calc(100vh - 6rem);
}

/*MENU*/

  .hidden {
    display: none;
  }

  .grain {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: none;
    mix-blend-mode: overlay;
    z-index: 9999;
    filter: url(#grain);
    opacity: 0.2;
  }

  .button {
    background-color: rgba(255, 255, 255, 0.65);
    width: 10rem;
    color: rgba(0, 0, 0, 1.0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.65rem;
    margin-top: 1rem;
    position: relative; /* Needed for the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element respects the border radius */
    z-index: 0; /* Ensures the text stays above the pseudo-element */
}

.button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit; /* Matches the button's border radius */
    pointer-events: none;
    background: none;
    mix-blend-mode: overlay;
    filter: url(#grain);
    opacity: 0.2;
    z-index: -1; /* Places the pseudo-element behind the text */
}

#theme-toggle {

  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px -1px 3px 1px rgba(0,0,0,0.1);
  float: left;
  left: 2rem;
  top: 7rem;
  color: var(--text-color);
transition: background-color 0.3s, color 0.3s;  padding: 1rem;
  
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  display: inline-flex;
  position: relative; /* Needed for the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element respects the border radius */
  z-index: 0; /* Ensures the text stays above the pseudo-element */
}

#theme-toggle::after {
  content: '';
  position: relative;
  inset: 0;
  border-radius: inherit; /* Matches the button's border radius */
  pointer-events: none;
  background: none;
  mix-blend-mode: overlay;
  /*filter: url(#grain);*/
  opacity: 0.2;
  z-index: -1; /* Places the pseudo-element behind the text */
}

  .container {
    display: flex;
    flex: 1;
  }
  
  .left {
    width: 50%;
    position: sticky;
    background-position: center; 
    top: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  .left img {
    margin-top: 9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);

  }

  /*
  .left img:hover {
    filter: brightness(0.8);
    
  }
  */

  .right {
    width: 50%;
    padding: 4rem;
    overflow: hidden;
    flex-direction: column;
  }
  
  .content {
    padding-top: 4rem;
    flex-grow: 1;
    text-align: justify;
  }
  

footer {
    background-color: var(--bg-color-footer);
    color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    height: 15rem;
    padding: 1rem;
}

#footer-note {
  color: var(--text-color);
transition: background-color 0.3s, color 0.3s;
text-decoration: none;
}

.spawned-footer-img {
    position: fixed;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
  }


/*BLOG POSTS*/



.blog-container {
  max-width: 800px;
  margin: auto;
}

.blog-post {
  background: var(--bg-color-blog-post);
  transition: background-color 0.3s, color 0.3s;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}

.post-title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  color: var(--text-color-blog-post);
transition: background-color 0.3s, color 0.3s;}

.post-meta {
  font-size: 0.9rem;
  color: var(--text-color-blog-post);
transition: background-color 0.3s, color 0.3s;  margin-bottom: 2rem;
}

.post-author-image img{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: inline-block;
}

.post-content {
  margin-bottom: 1rem;
}


.post-tags .tag {
  display: inline-block;
  background: var(--bg-color-blog-tags);
  transition: background-color 0.3s, color 0.3s;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.85rem;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
}
.post-images {
  display: grid;
  gap: 2px;
  margin-bottom: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.post-images img:first-child {
  width: 100%;
  height: 250px;
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
}

.post-images img:last-child {
  width: 100%;
  height: 250px;
  border-radius: 0px 20px 20px 0px;
  object-fit: cover;
}





/*BLOG POSTS*/



@media (max-width: 768px) {
  .menu-button {
    rotate: 90deg;
  }

    .left {
        display: none; /* Hides the left container */
        width: 0; /* Ensures it takes no space */
        height: 0; /* Ensures it takes no space */
    }

    .right {
        margin-left: 0px;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        overflow: auto;
        flex-direction: column;
    }
}