:root {
  --bg-color: rgba(240, 240, 240, 1.0);
  --bg-color-header: rgba(255, 255, 255, 0.2);
  --text-color: rgba(0, 0, 0, 1.0);
}

[data-theme="dark"] {
  --bg-color: rgba(0, 0, 0, 1.0);
  --bg-color-header: rgba(0, 0, 0, 0.2 );
  --text-color: rgba(240, 240, 240, 1.0);
}



* {
    cursor: url(/img/cursor.png), default;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-color-header);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* für Safari */
    color: var(--text-color);
    padding: 1rem;
    height: 4rem;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .menu-button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 0.8rem;
    position: absolute;
  }

  .logo {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  }

    .logo img {
        height: 1.25rem;
        width: auto;
    }

  .menu {
display: none; /*HIDE MENU UNTIL FIXED*/
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 3.5rem;
    padding: 1rem;
  }

  .menu a {
    color: black;
    text-decoration: none;
    margin: 0.5rem 0;
  }

.menu-icon {
    width: 2rem;
    height: auto
}

  .menu.show {
    display: flex;
  }

  .hidden {
    display: none;
  }

  .grain {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: none;
    mix-blend-mode: overlay;
    z-index: 9999;
    filter: url(#grain);
    opacity: 0.2;
  }

  .button {
    background-color: rgba(255, 255, 255, 0.65);
    width: 10rem;
    color: rgba(0, 0, 0, 1.0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.65rem;
    margin-top: 1rem;
    position: relative; /* Needed for the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element respects the border radius */
    z-index: 0; /* Ensures the text stays above the pseudo-element */
}

.button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit; /* Matches the button's border radius */
    pointer-events: none;
    background: none;
    mix-blend-mode: overlay;
    filter: url(#grain);
    opacity: 0.2;
    z-index: -1; /* Places the pseudo-element behind the text */
}

#theme-toggle {
  background-color: rgba(255, 255, 255, 0);
  
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px -1px 3px 1px rgba(0,0,0,0.1);
  padding: 1rem 1rem;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 100%;
  position: relative; /* Needed for the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element respects the border radius */
  z-index: 0; /* Ensures the text stays above the pseudo-element */
}

#theme-toggle::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit; /* Matches the button's border radius */
  pointer-events: none;
  background: none;
  mix-blend-mode: overlay;
  /*filter: url(#grain);*/
  opacity: 0.2;
  z-index: -1; /* Places the pseudo-element behind the text */
}

  .container {
    display: flex;
    flex: 1;
    
  }
  
  .left {
    width: 50%;
    position: sticky;
    background-position: center; 
    top: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  .left img {
    margin-top: 9rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    border-radius: 3%;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
  
  .right {
    
    width: 50vw;
    
    padding: 2rem;
    overflow: hidden;
    flex-direction: column;
  }
  
  .content {
    padding-top: 6rem;
    flex-grow: 1;
    padding-right: 2rem;
    text-align: justify;

  }
  

footer {
    background-color: rgba(15, 15, 15, 1.0);
    color: white;
    text-align: center;
    height: 5rem;
    padding: 1rem;
}

#footer-note {
    color: white;
    text-decoration: none;
}

.spawned-footer-img {
    position: fixed;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
  }

@media (max-width: 768px) {
  #menu-button {
    rotate: 90deg;
  }
    .left {
        display: none; /* Hides the left container */
        width: 0; /* Ensures it takes no space */
        height: 0; /* Ensures it takes no space */
    }

    .right {
        margin-left: 0px;
        width: 100vw;
        height: 100vh;
        padding: 2rem;
        overflow: auto;
    }
}